<div class="container">
<div class="row">
<div class="col-lg-3">
        <%= render 'books/list', books: @books %>
</div>
<div class="col-lg-9">
		<h1>Books</h1>
<table class="table table-striped">
<tr>
<th>Title</th>
<th>Opinion</th>
</tr>

<tr>
<td><span><%= @book.title %></span></td> <!-- 押せるようにしたい -->
<td><span><%= book.body %></span></td>
</tr>
</table>

</div> <!-- col -->
</div> <!-- row -->
</div> <!-- conatner -->
