<div class="main">
<h1>welcome to<span class="glyphicon glyphicon-book" aria-hidden="true"></span><strong>Bookers !!</strong></h1>
<div class="text1">
<p>In<span class="glyphicon glyphicon-book" aria-hidden="true"></span><strong>Bookers</strong>,</p>
</div>
<div class="text2">
<p>you can share and exchange your opinions , inpressions , and emotions<br>
about various books!</p>
</div>
</div>
<div class="container">
<div class="row text-center">
	<a class="btn-info btn-lg btn-block" href="#" role="button">Log in</a>
</div>
<div class="row text-center">
	<a class="btn-success btn-lg btn-block" href="#" role="button">Sign Up</a>
</div>
</div>



</div>

