// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


h1 {
	text-align: center;
}
.text1, .text2 {
	display: block;
	text-align: center;
	line-height: 20px;
}

p {
	display: inline-block;
	text-align: left;
}

.text-center {
	width: 100%;
}
.w-25 {
  width: 25% !important;
}

.main {
	padding: 0 50px;
}
.about h1{
	text-align: left;
}